@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}

<div class="row" style="display: flex;
            justify-content: center;
            text-align: center;
            margin-left: auto;
            margin-right: auto;
            border: 2px solid gainsboro; 
            border-radius: 8px; 
            background: white; 
            width: 50%;
            margin-top: 30%;
            padding: 20px;">
    <div style="width: 90%; display: block; margin-left: auto; margin-right: auto;">
        <h2>@ViewData["Title"]</h2>
        <hr />
        <p style="color: gray"><b>Please Enter Your Email Address</b></p>
        <p style="color: gray"><b>We will send you an email with instructions on how to reset your password.</b></p>
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                <label asp-for="Input.Email" class="form-label"></label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <br>
            <button type="submit" class="w-100 btn btn-outline-primary" style="border-radius: 150px;">
                <span style="font-size: 14pt;"><b>Email Me</b></span>
            </button>
        </form>
    </div>
</div>

@section Scripts {
<partial name="_ValidationScriptsPartial" />
}
